<page-header title="会员"></page-header>

<nz-card>
  <nz-alert nzType="warning" nzMessage="请记得去绑定会员套餐，否则会员不生效" nzShowIcon style="padding-bottom: 20px"></nz-alert>
  <form class="zsx__table-search-form" nz-form nzLayout="inline" [formGroup]="queryForm" (ngSubmit)="search()">
    <nz-form-item>
      <nz-form-label>名称</nz-form-label>
      <nz-form-control>
        <input formControlName="name" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">搜索</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" type="button" (click)="showModal()" *ngIf="acl.create">新增</button>
      </nz-form-control>
    </nz-form-item>
  </form>

  <nz-table
    [nzData]="dataSet"
    [nzLoading]="loading"
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [(nzPageIndex)]="pageIndex"
    (nzPageIndexChange)="search($event)">
    <thead>
    <tr>
      <th>LOGO</th>
      <th>会员名称</th>
      <th>已绑定的商品</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataSet">
      <td>
        <img class="zsx__table-row-image" [src]="data.logo">
      </td>
      <td>{{data.name}}</td>
      <td>
        <nz-tag [nzColor]="'purple'" *ngFor="let t of data.suit_name.split(',')">{{t}}</nz-tag>
      </td>
      <td>

        <ng-container *ngIf="acl.update">
          <a (click)="showEditModal(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-container>

        <ng-container *ngIf="acl.destroy">
          <a nz-popconfirm danger [nzTitle]="'删除此配置？'" nzPlacement="top" (nzOnConfirm)="delete(data)">删除</a>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
