<form nz-form [formGroup]="basicRoleForm">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="name">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired>状态</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="status" [compareWith]="selectCompareWith">
        <nz-option [nzValue]="1" nzLabel="正常"></nz-option>
        <nz-option [nzValue]="0" nzLabel="禁用"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

</form>
