:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #f0f2f5;

  ::ng-deep {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #f0f2f5;

    .trigger {
      font-size: 18px;
      padding: 0 24px;
      cursor: pointer;
      transition: color .3s;
      color: hsv(0, 0, 96%)
    }

    .logo {
      height: 64px;
      background-color: #1890ff;
      color: #fff;
      text-align: center;
      line-height: 64px;
      font-size: 32px;
    }

  }
}



