<nz-layout>
  <nz-sider class="zsx__layout-sidebar" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
      {{isCollapsed ? '卓' : '卓师兄'}}
    </div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">

      <ng-container *ngFor="let item of menuList">
        <ng-container *ngIf="item.children; else single">
          <li nz-submenu *ngIf="item.children.length > 0" [nzOpen]="item.path === currentRootRoute.path">
          <span title>
            <i nz-icon [type]="item.data.icon"></i>
            <span class="nav-text">{{item.data.title}}</span>
          </span>
            <ul>
              <li nz-menu-item
                  *ngFor="let child of item.children"
                  [routerLink]="'/dashboard/' + item.path + '/' + child.path"
                  [nzSelected]="initSelected === '/dashboard/' + item.path + '/' + child.path">
                {{child.data.title}}
              </li>
            </ul>
          </li>
        </ng-container>

        <ng-template #single>
          <li nz-menu-item
              [routerLink]="'/dashboard/'+item.path"
              [nzSelected]="initSelected === '/dashboard/'+ item.path">
            <span title>
              <i nz-icon [type]="item.data.icon"></i>
              <span class="nav-text">{{item.data.title}}</span>
            </span>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header class="zsx__layout-header">
      <div class="zsx__layout-nav-wrapper">
        <ul class="zsx__layout-nav">
          <li>
            <div class="zsx__layout-nav-item">
              <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"
                 (click)="isCollapsed=!isCollapsed"></i>
            </div>
          </li>
        </ul>
        <ul class="zsx__layout-nav">
          <li>
            <div class="zsx__layout-nav-item">
              <i>
                <nz-dropdown nzPlacement="bottomRight">
                  <div nz-dropdown>
                    <nz-avatar nzSrc="https://ng-alain.github.io/ng-alain/assets/tmp/img/avatar.jpg"
                               nzSize="small"></nz-avatar>
                    <strong style="margin-left: 10px">{{user_name}}</strong>
                  </div>
                  <ul nz-menu>
                    <li nz-menu-item>
                      <a>个人设置</a>
                    </li>
                    <li nz-menu-item>
                      <a (click)="logout()">退出登陆</a>
                    </li>
                  </ul>
                </nz-dropdown>
              </i>
            </div>
          </li>
        </ul>
      </div>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">@2018 by zhuoshixiong</nz-footer>
  </nz-layout>
</nz-layout>


<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>

