<nz-layout>
  <nz-sider class="zsx__layout-sidebar" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">
      {{isCollapsed ? '卓' : '卓师兄'}}
    </div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu>
        <span title><i nz-icon type="user"></i><span class="nav-text">数据项</span></span>
        <ul>
          <li nz-menu-item routerLink="/dashboard/env">添加数据项</li>
          <li nz-menu-item routerLink="/dashboard/env">数据项信息</li>
        </ul>
      </li>

      <li nz-submenu>
        <span title><i nz-icon type="team"></i><span class="nav-text">套餐</span></span>
        <ul>
          <li nz-menu-item routerLink="/dashboard/pack">添加套餐</li>
          <li nz-menu-item routerLink="/dashboard/pack">套餐信息</li>
        </ul>
      </li>

      <li nz-submenu>
        <span title><i nz-icon type="file"></i><span class="nav-text">会员</span></span>
        <ul>
          <li nz-menu-item routerLink="/dashboard/member">添加会员</li>
          <li nz-menu-item routerLink="/dashboard/member">会员信息</li>
        </ul>
      </li>

      <li nz-submenu>
        <span title><i nz-icon type="file"></i><span class="nav-text">首页功能配置</span></span>
        <ul>
          <li nz-menu-item routerLink="/dashboard/config">添加功能配置</li>
          <li nz-menu-item routerLink="/dashboard/config">配置信息</li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="zsx__layout-header">
      <div class="zsx__layout-nav-wrapper">
        <ul class="zsx__layout-nav">
          <li>
            <div class="zsx__layout-nav-item">
              <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'"
                 (click)="isCollapsed=!isCollapsed"></i>
            </div>
          </li>
        </ul>
        <ul class="zsx__layout-nav">
          <li>
            <div class="zsx__layout-nav-item">
              <i>
                <nz-dropdown nzPlacement="bottomRight">
                  <div nz-dropdown>
                    <nz-avatar nzSrc="https://ng-alain.github.io/ng-alain/assets/tmp/img/avatar.jpg"
                               nzSize="small"></nz-avatar>
                    <strong>Admin</strong>
                  </div>
                  <ul nz-menu>
                    <li nz-menu-item>
                      <a>个人设置</a>
                    </li>
                    <li nz-menu-item>
                      <a (click)="logout()">退出登陆</a>
                    </li>
                  </ul>
                </nz-dropdown>
              </i>
            </div>
          </li>
        </ul>
      </div>
    </nz-header>
    <nz-content style="margin:0 16px;">
        <router-outlet></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">@2018 by zhuoshixong</nz-footer>
  </nz-layout>
</nz-layout>


<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>

