<page-header title="数据项"></page-header>

<nz-card>
  <form class="zsx__table-search-form" nz-form nzLayout="inline" [formGroup]="queryForm" (ngSubmit)="search()">
    <nz-form-item>
      <nz-form-label>名称</nz-form-label>
      <nz-form-control>
        <input formControlName="remark" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>子项掩码</nz-form-label>
      <nz-form-control>
        <input formControlName="fn_code" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>常量名</nz-form-label>
      <nz-form-control>
        <input formControlName="define" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>状态</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="status">
          <nz-option [nzValue]="''" nzLabel="全部"></nz-option>
          <nz-option [nzValue]="1" nzLabel="生效"></nz-option>
          <nz-option [nzValue]="0" nzLabel="失效"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">搜索</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" type="button" (click)="showModal()">新增</button>
      </nz-form-control>
    </nz-form-item>
  </form>


  <nz-table [nzData]="dataSet"
            [nzLoading]="loading"
            [nzFrontPagination]="false"
            [nzTotal]="total"
            [(nzPageIndex)]="pageIndex"
            (nzPageIndexChange)="search($event)">
    <thead>
    <tr>
      <th>名称</th>
      <th>子项掩码</th>
      <th>常量名</th>
      <th>创建时间</th>
      <th>当前状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataSet">
      <td>{{data.remark}}</td>
      <td>{{data.fn_code}}</td>
      <td>{{data.define}}</td>
      <td>{{data.create_time}}</td>
      <td>
        <nz-tag [nzColor]="+data.status?'green':'red'">{{+data.status | status}}</nz-tag>
      </td>
      <td>
        <a nz-popconfirm [nzTitle]="(+data.status?'失效':'生效') + '此配置'" nzPlacement="top" (nzOnConfirm)="setStatus(data)">{{+data.status ? '失效':'生效'}}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="showEditModal(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm danger [nzTitle]="'删除此配置？'" nzPlacement="top" (nzOnConfirm)="delete(data.fn_id)">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
