<form nz-form [formGroup]="appFunctionForm">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="name">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>所属APP</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="app_id" nzShowSearch nzAllowClear nzPlaceHolder="选择APP">
        <nz-option *ngFor="let app of appList" [nzValue]="app.app_id" [nzLabel]="app.remark"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">场景值</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="scene_code">
      <nz-form-extra danger>由技术人员提供,请谨慎配置</nz-form-extra>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>排序</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="sort">
      <nz-form-extra danger>数字越大越靠前</nz-form-extra>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>状态</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="status">
        <nz-option [nzValue]="1" nzLabel="显示"></nz-option>
        <nz-option [nzValue]="0" nzLabel="隐藏"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">跳转路由</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input formControlName="route"></textarea>
      <nz-form-extra danger>由技术人员提供,请谨慎配置</nz-form-extra>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">标签</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input formControlName="tags"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">图片缺省值标识</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="place_holder">
      <nz-form-extra danger>由技术人员提供,请谨慎配置</nz-form-extra>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">父级功能</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="pid">
        <nz-option [nzValue]="0" nzLabel="顶级"></nz-option>
        <nz-option *ngFor="let pid of parentPid" [nzValue]="pid.id" [nzLabel]="pid.name"></nz-option>
      </nz-select>
      <nz-form-extra danger>对应APP分组栏目</nz-form-extra>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>配置图标</nz-form-label>
    <nz-form-control>
      <nz-upload nzAction="upload/app-func"
                 nzName="UploadForm[file]"
                 nzListType="picture-card"
                 [nzShowUploadList]="false"
                 (nzChange)="handleUploadChange($event)">
        <ng-container *ngIf="!iconUrl">
          <i nz-icon type="plus"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="iconUrl" [src]="iconUrl"  class="avatar">
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
</form>
