<form nz-form [formGroup]="appEnvForm">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>子项掩码</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="fn_code">
      <nz-form-extra danger>子项掩码由技术人员提供，请谨慎配置</nz-form-extra>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>常量名</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="define">
      <nz-form-extra danger>常量名由技术人员提供，请谨慎配置</nz-form-extra>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired>数据项名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="remark">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"  nzRequired>是否生效</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-select formControlName="status">
        <nz-option [nzValue]="1" nzLabel="生效"></nz-option>
        <nz-option [nzValue]="0" nzLabel="失效"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

</form>



