<page-header title="首页功能配置"></page-header>

<nz-card>
  <form class="zsx__table-search-form" nz-form nzLayout="inline" [formGroup]="queryForm" (ngSubmit)="search()">
    <nz-form-item>
      <nz-form-label>名称</nz-form-label>
      <nz-form-control>
        <input formControlName="name" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>应用</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 200px;" formControlName="app_id" nzShowSearch nzAllowClear nzPlaceHolder="全部">
          <nz-option *ngFor="let app of app_list" [nzValue]="app.value" [nzLabel]="app.label"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">搜索</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" type="button" (click)="showModal()" *ngIf="acl.create">新增</button>
      </nz-form-control>
    </nz-form-item>
  </form>


    <nz-table
              nzBordered
              [nzSize]="'middle'"
              [nzData]="dataSet"
              [nzLoading]="loading"
              [nzFrontPagination]="false"
              [nzTotal]="total"
              [(nzPageIndex)]="pageIndex"
              (nzPageIndexChange)="search($event)">
    <thead>
    <tr>
      <th>ID</th>
      <th>图标</th>
      <th>名称</th>
      <th>所属APP</th>
      <th>跳转场景值</th>
      <th>排序</th>
      <th [nzWidth]="'150px'">标签</th>
      <th>父级功能</th>
      <th>当前状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataSet">
      <td>{{data.id}}</td>
      <td>
        <img class="zsx__table-row-image" [src]="data.icon" alt="">
      </td>
      <td>{{data.name}}</td>
      <td>{{data.app_name}}</td>
      <td>{{data.scene_code}}</td>
      <td>{{data.sort}}</td>
      <td>
        <nz-tag [nzColor]="'purple'" *ngIf="data.tags">{{data.tags}}</nz-tag>
      </td>
      <td>{{data.parent_func_name}}</td>
      <td>
        <nz-tag [nzColor]="+data.status?'green':'red'">{{+data.status | status:'visible'}}</nz-tag>
      </td>
      <td>
        <ng-container *ngIf="acl.update">
          <a (click)="showEditModal(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-container>

        <ng-container *ngIf="acl.set_status">
          <a nz-popconfirm [nzTitle]="(+data.status?'隐藏':'显示') + '此功能'" nzPlacement="top" (nzOnConfirm)="setStatus(data)">{{+data.status ? '隐藏':'显示'}}</a>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

