<page-header title="商品参数"></page-header>

<nz-card>
  <form class="zsx__table-search-form" nz-form nzLayout="inline" [formGroup]="queryForm" (ngSubmit)="search()">
    <nz-form-item>
      <nz-form-label>名称</nz-form-label>
      <nz-form-control>
        <input formControlName="suit_name" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>应用</nz-form-label>
      <nz-form-control>
        <nz-select style="width: 200px;" formControlName="app_id">
          <nz-option nzValue="" nzLabel="全部"></nz-option>
          <nz-option *ngFor="let app of selects?.app_list" [nzValue]="app.value" [nzLabel]="app.label"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">搜索</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" type="button" (click)="showModal()">新增</button>
      </nz-form-control>
    </nz-form-item>
  </form>

  <nz-table
            [nzData]="dataSet"
            [nzLoading]="loading"
            [nzFrontPagination]="false"
            [nzTotal]="total"
            [(nzPageIndex)]="pageIndex"
            (nzPageIndexChange)="search($event)">
    <thead>
    <tr>
      <th>ID</th>
      <th>商品名称</th>
      <th>原价</th>
      <th>实际价格</th>
      <th>创建时间</th>
      <th>当前状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataSet">
      <td>{{data.suit_id}}</td>
      <td>{{data.suit_name}}</td>
      <td>{{data.origin_price}}</td>
      <td>{{data.price}}</td>
      <td>{{data.create_time}}</td>
      <td>
        <nz-tag [nzColor]="+data.status?'green':'red'">{{+data.status | status:'usage'}}</nz-tag>
      </td>
      <td>
        <a (click)="changePrice(data)">改价</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="bindMember(data)">绑定会员</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="findPackAndOpenModal(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm danger [nzTitle]="'删除此商品?'" nzPlacement="top" (nzOnConfirm)="delete(data)">删除</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
