<form nz-form [formGroup]="envForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">会员名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="name">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>会员图标</nz-form-label>
    <nz-form-control>
      <nz-upload class="avatar-uploader"
                 nzAction="upload/member-image"
                 nzName="UploadForm[file]"
                 nzListType="picture-card"
                 [nzShowUploadList]="false"
                 (nzChange)="handleChange($event)">
        <ng-container *ngIf="!avatarUrl">
          <i nz-icon type="plus"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img class="zsx__table-row-image" *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
</form>
