<page-header title="首页功能配置"></page-header>

<nz-card>
  <form class="zsx__table-search-form" nz-form nzLayout="inline" [formGroup]="queryForm" (ngSubmit)="search()">
    <nz-form-item>
      <nz-form-label>名称</nz-form-label>
      <nz-form-control>
        <input formControlName="name" nz-input>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">搜索</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" type="button" (click)="showModal()">新增</button>
      </nz-form-control>
    </nz-form-item>
  </form>


    <nz-table [nzData]="dataSet" [nzLoading]="loading" [nzFrontPagination]="false" [nzTotal]="total"
              [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="search()">
    <thead>
    <tr>
      <th>ID</th>
      <th>图标</th>
      <th>名称</th>
      <th>跳转场景值</th>
      <th>排序</th>
      <th>当前状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataSet">
      <td>{{data.id}}</td>
      <td>
        <img [src]="data.icon" alt="">
      </td>
      <td>{{data.name}}</td>
      <td>{{data.scene_code}}</td>
      <td>{{data.sort}}</td>
      <td>{{data.status}}</td>
      <td>
        <a (click)="showEditModal(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="changeStatus(data)">{{data.status ? '隐藏' : '显示'}}</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

